<?xml version='1.0' encoding='utf-8'?>
<widget id="us.wearecurio.app" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Curious</name>
    <description>Track Data, chart experience, find meaning.</description>
    <author email="support@wearecurio.us" href="http://dev.wearecurio.us">Curious Inc</author>
    <icon src="icon.png" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="Keyboard">
        <param name="ios-package" value="CDVKeyboard" onload="true" />
    </feature>
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <access origin="*" />
    <content src="index.html" />
</widget>
