html * {
	font-family:helvetica,arial;
}

.body {font-famiy:helvetica,arial;text-align:center;color:#666666;}
.innerbody {font-size:1.3em;line-height:1.2em;width:700px;text-align:left;display:inline-block;padding:40px 0px 0px 0px}
.logoalone {float:left;width:120px}
.textbody {float:left;width:500px}
.textbody a.save {font-size:1.2em;color:#3399CC;font-weight:bold;text-decoration:none}
.textbody a:hover.save {text-decoration:underline}
.trialintro {font-size:1.3em;line-height:1.2em;width:500px;text-align:left;display:inline-block}
.trialintro h1,.trialintro h2,.textbody h1,.textbody h2 {font-size:1.4em;line-height:1.2em;margin:60px 0px 20px 0px}
.textbody h1,.textbody h2 {margin:5px 0px 20px 0px}
.trialintro ul {list-style-type: none;margin:0px;padding-left:10px}
p.tight {margin:1.2em 0px 0px 0px}
.dialog {padding-top:10px}
.dialog label {font-size:1em;text-transform:uppercase}
.dialog input {width:160px}
.dialog,.buttons,.links {text-align:right;line-height:2.3em}
.buttons .save {border:0px;font-size:1.2em;color:#3399CC;padding:0px;background-color:transparent;}
.links {padding-top:1.5em;font-size:.9em}
.links a {color:#666666;text-decoration:none}
.links a:hover {text-decoration:underline}
.prop {line-height:1.5em}

.logoalone {float:left}
/* GENERAL */