@CHARSET "UTF-8";

.no-close .ui-dialog-titlebar-close {
	display: none;
}
.no-close .ui-dialog-titlebar {
	display: none;
}

#loginlogo {
	padding-top: 50px;
	margin-bottom: 50px;
}

button {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px;
}

.login {
	text-align: left;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0px 57px;
}

.login h1 {
	font-size: .7em;
	padding: .75em 0 .25em 0;
	font-weight: bold
}

.login .textField {
	-webkit-border-radius: 2px;
	width: 205px;
	height: 22px;
	border: 1px solid #b6b6b6;
	color: #c7c7c7;
	font-size: 14px;
	padding: .2em;
	margin: .1em 0
}

.login .passwordField {
	-webkit-border-radius: 2px;
	width: 205px;
	height: 22px;
	color: #000000;
	border: 1px solid #b6b6b6;
	color: #c7c7c7;
	font-size: 14px;
	padding: .2em;
	margin: .1em 0
}

.ui-dialog-titlebar {
	height:3em;
}

.okCancelDiv {
	text-align:right;
}

.cancelButton {
	float:left;
}

.logininput {
	margin-bottom: 2px;
}

.login .info {
	color: #ffa500;
	padding: .1em .05em .1em .05em;
	text-transform: uppercase
}

.loginoptions {
	font-family: "Helvetica Neue", Helvetica;
	width: 210px;
	padding-top: .25em;
	font-size: .725em;
}

.loginlabel {
	font-family: "Helvetica Neue", Helvetica;
	width: 210px;
	padding-bottom: .5em;
	font-size: .725em;
	color: #666666
}

.loginoptions A:link {
	text-decoration: none;
	color: #666666
}

.loginoptions A:visited {
	text-decoration: none;
	color: #666666
}

.loginoptions A:active {
	text-decoration: none;
	color: #666666
}

.loginoptions A:hover {
	text-decoration: none;
	color: #666666
}

#emailField {
	background-image: url('/images/email.png');
	background-size: 50px 20px;
	background-repeat: no-repeat;
	padding-left: 3px;
}

#usernameField {
	background-image: url('/images/username.png');
	background-size: 70px 20px;
	background-repeat: no-repeat;
	padding-left: 3px;
}

#passwordField {
	background-image: url('/images/password.png');
	background-size: 70px 20px;
	background-repeat: no-repeat;
	padding-left: 3px;
}

.info {
	width: 250px;
	height: 50px;
	margin: 0px auto;
	padding: .1em .1em 1em 40%;
	color: #ffa500;
	line-height: 1.25em
}
.ui-autocomplete a {
	display: block;
}

/* The autocomplete must match the text input width */
ul.ui-autocomplete {
	list-style-type:none;
	width:295px;
}

/* The autocomplete must match the text input width */
.ui-autocomplete {
	padding-left:0px;
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 0px;
}
.ui-menu-item {
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.ui-menu-item a {
	height: 25px;
}
.dateBar {
	background-color: #f5311e;
	padding: 0em .3em;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
}

.back {
	display: block;
	float: left;
	width: 0px;
	height: 0px;
	border-color: transparent #ffffff transparent transparent;
	border-style: solid;
	border-width: 14px 18px 14px 10px;
	margin-top: 1px;
	vertical-align: baseline;
}

.next {
	display: block;
	float: right;
	width: 0px;
	height: 0px;
	border-color: transparent transparent transparent #ffffff;
	border-style: solid;
	border-width: 14px 10px 14px 18px;
	margin-top: 1px;
	vertical-align: baseline;
}

.next span,.back span {
	display: none;
}

.dataEntry {
	background-color: #eaeaea;
	color: #515151;
	text-align: center;
	border-color: #18ADEF;
	border-style: solid;
	border-width: 0 0 0 0;
	padding: 2px 4%;
}

.dataEntry .textField {
	border: 0px;
	padding: .5em;
	font-size: 14px;
	font-weight: bold;
	color: #cbcbcb;
	width: 100%;
	height: 30px;
	-webkit-border-radius: 2px;
}

.dataEntry hr {
	margin: 0;
	padding: 0;
	border-color: #CCCCCC transparent transparent transparent;
	border-style: dotted;
	border-width: 1px 0 0 0;
	background: transparent;
	height: 0px;
}

.entryDelete {
	display:none;
}

.dataTags {
	color: #404040;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	height: 100%;
}

.dataTags li {
	display: block;
	color: #515151;
	border-color: transparent transparent #E5E5E5 transparent;
	border-style: dotted;
	border-width: 0 0 1px 0;
	text-decoration: none;
}

.userInfo {
	background-color: #f5311e;
	padding: 1px 2%;
	color: #ffffff;
}

.userInfo .username {
	float: left;
	text-transform: lowercase;
	font-size: .8em;
	font-weight: 800;
	padding-top: .21em;
	padding-bottom: .21em;
	padding-left: 5px;
	vertical-align: middle;
}

.userInfo .online {
	float: right;
	text-transform: uppercase;
	font-size: .6em;
	font-weight: 800;
	padding-top: 4px;
	padding-bottom: .21em;
	padding-right: 4%
}

#content {
}

#datepicker {
	width: 200px;
}

.date input {
	text-transform: none;
	background-color: #F5311E;
	color: #FFFFFF;
	border: 0px;
	font-size: .75em;
	font-weight: 800;
	vertical-align: top;
	text-align: center;
	padding-bottom: 2px;
	margin-top: 6px;
	-webkit-appearance: none;
}

a:link.indicator,a:hover.indicator,a:focus.indicator,a:visited.indicator,a:active.indicator
	{
	text-decoration: none;
	color: #FFFFFF;
}

#entry0 .ui-selecting {
	background: #E5E5E5;
}

#entry0 .ui-selected {
	background: #E5E5E5;
	color: #404040;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 14px 14px 14px 14px;
}

#entry0 {
	list-style-type: none;
	margin: 0;
	padding: 0 0;
}

#entry0 li.entry {
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 14px 14px 14px 14px;
	-webkit-transition: background 1s, color 1s;
	-moz-transition: background 1s, color 1s;
	transition: background 1s, color 1s;
}

#entry0 li.entry input {
	padding: 0;
	outline: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-style: inherit;
	width: 90%
}

#entry0 li.entry.ghost {
	color: #D9D9D9;
	background-color: #FFFFFF;
}

#entry0 li.entry a.entryDelete {
	margin-top: -12px;
	margin-right: -14px;
	padding: 14px;
	color: #999999;
	float: right;
}

#entry0 li.entry.ui-selected a.entryDelete {
	margin-top: -12px;
	margin-right: -14px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#entry0 li.entry.ghost a.entryDelete {
	display: inline;
}
#entry0 li.entry.glow {
	background-color: #413535;
	color: white;
}