input, optgroup, select, textarea {
	color: black;
}
.container {
	margin-left: 40px;
	margin-right: 40px;
	width: auto;
}
ul {
	margin-bottom: 0;
}
/* FRAME */

.content-size, .content-size:after, .content-size:before {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: arial,helvetica,san-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
h1 {
	font-weight:bold;
	margin: 0;
}
body {
	font-size: 16px;
	text-align:left;
	line-height: normal;
	color: rgb(0, 0, 0);
}
input {
	line-height: normal;
}
.postcomment textarea {
	border: 1px solid;
}
a,a:link,a:hover,a:visited {
	color:#08BBF1;	
	text-decoration:none;
}
.body1 {
	text-align: left;	
	border:1px solid #cccccc;
	border-width:0px 1px 1px 1px;
}
.body2 {
	padding: 0px 10px;
}
.main {
	border:1px solid #cccccc;
	-moz-box-shadow: 3px 3px 3px #dddddd;
	-webkit-box-shadow: 3px 3px 3px #dddddd;
	box-shadow: 3px 3px 3px #dddddd;	
}
.main h1 {
	padding:7px 10px;
	background-color:#EF4B3A;
	vertical-align:middle;
	font-weight:bold;
	line-height:20px;
	font-weight:bold;
	font-size:.9em;
	color: #FFFFFF;
	margin:-1px;
}
.bugs {
	position:relative;
}
.bugs a {	
	display:block;
	background:url(/images/bugs.gif) no-repeat;
	width:19px;
	height:20px;
	position:absolute;
	top:22px;
	right:-20px;	
}
.bugs a span {	
	display:none;
}
.ui-dialog-titlebar {
	height: auto !important;
}
#alert-message-text {
	font-size: 12pt;
}
.header {
	padding:10px 0px 10px 0px;
}
.header a.logo-link {
	margin-bottom: 15px;
	display: inline-block;
}
.header #headerbutton {
	display: inline-block;
}
.header #headerbutton img {
	width: 100px;
}
.mainLinks {
	display:inline-block;
	padding: 12px 0px 0px 0px;
}
.mainLinks li {
	display:inline;
	padding:0px 0px 0px 3em;
	text-transform:uppercase;
	font-size:.8em;
	color:#999999;
}
.mainLinks li:first-child {
	padding-left: 0;
}
.mainLinks li.active {
	font-weight: bold;
}
.mainLinks li.active a {
	pointer-events: none;
	cursor: default;
}
.mainLinks li a {
	color:#999999;
}	
.signin {
	padding:14px 20px 0px 0px;
	font-size:.8em;
	color:#999999;
	vertical-align:middle;
}
.signin li {
	display:inline;
}
.signin li a {
	padding-left:10px;
	text-decoration:none;
}
#datepicker {
	width:250px;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
	padding-left:2px;
}
#trackmain {
	height:633px;
}
/**
 * Styles for graph page starts here.
 */
body.graph-page .body1 {
	position: relative;
}
body.graph-page #tagListWrapper ul#tagList {
	height: 550px;
}
body.graph-page .querymain {
	margin: 0px;
	width: 100%;
}
#plotLeftNav {
	width: 100%;
	margin-top: 4px;
}
body.graph-page .querymain #plotArea {
	height:530px;
}
body.graph-page .querymain #plotArea canvas {
	z-index: 2;
}
body.graph-page #plotArea canvas, body.discuss-page #plotDiscussArea canvas {
	width: 100%;
	height: 100%;
}
body.graph-page .querycontrols {
	margin:0px;
}
body.graph-page div.graphData div#height-balancer {
	height: 13px;
}
body.graph-page div.graphData.has-plot-data div#height-balancer {
	height: 0px;
}
/**
 * Styles for graph page ends here.
 */

/**
 * Styles for discuss page starts here.
 */
body.discuss-page input#discussTitleInput {
	width: 800px;
}
@media (max-width: 970px) {
	body.discuss-page input#discussTitleInput {
		width: 100%;
	}
}
.discussmain .cycleTagInput {
	margin-left:58px;
}
.discussmain .discussPlotArea {
	height:500px;
}
/**
 * Styles for discuss page ends here.
 */

#dashmain {
	width:800px;
}
#recordList {
	padding: 4px;
	overflow: auto;
	height: 583px;
}
/**
 * @Deprecated. Use `.red-header` instead.
 */
.tagNav {
	-moz-box-shadow: 3px 3px 3px #dddddd;
	-webkit-box-shadow: 3px 3px 3px #dddddd;
	box-shadow: 3px 3px 3px #dddddd;
	background-color:#ffffff;
}
/**
 * @Deprecated. Use `.red-header` instead.
 */
.tagNav h1 {
	background-color: #EF4B3A;
    padding: 7px 10px;
    vertical-align: middle;
    color:#ffffff;
    font-weight:normal;
    text-transform:uppercase;
    font-size:.8em;
    line-height:20px;
}

.footer {
	clear:all;
	margin-top:10px;
	padding:20px 0px;
}
.footer h2 {
	padding-bottom:.7em;
	font-size: 100%;
	margin: 0;
}
.footer ul {
	display:block;
	float:left;
	width:200px;
	font-size:.75em;
}	
.footer li {
	display:block;
	line-height:1.4em
}
@media (max-width: 992px) {
	.footer ul {
		width: 20%;
	}
}
input.textInput {
	color:#cccccc;
	background-color:#ffffff;
	margin:0px;
	padding-left:5px;
	float:left;
	border:1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cycleTag {
	color:#cccccc;
	background-color:#ffffff;
	margin:0px;
	border:0px;
	display:inline-block;
	padding-top:7px;
	height:29px;
	width:100%;
}
.startdatepicker, .enddatepicker {
	height:30px;
	width:175px;
	border:0px
	font-size:.5em;
}
.startDate {
	display:inline-block;
}
.endDate {
	display:inline-block;
	float:right;
}
.endDate a.calendar {
	margin:7px 10px 0px 0px;
}
input.buttonInput {
	float:left;
}	

/* RIGHT NAV */
	
#addData, .panel-wrapper {
	background-color:#EBEBEB;
	padding:9px;
	border-bottom:9px solid #CCCCCC;
}
#addData input.textInput {
	width: 704px;
	height:30px;
	border:none;
}
.ui-autocomplete a {
	display: block;
}
/* The autocomplete must match the text input width */
ul.ui-autocomplete {
	list-style-type:none;
	width:380px
}
/* The autocomplete must match the text input width */
.ui-autocomplete {
	padding-left:0px;
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 0px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 200px;
}
#addData label {
	font-size:.8em;
	padding:8px 0px 0px 10px;
	color:#999999;
	display:inline-block;
}
#searchTags {
	font-size:.9em;
	margin-left: -1px;
	margin-right: -1px;
}
#searchTags .grid {
	float:right;
	vertical-align:top;
}

#searchTags h1 {background-color:#ffffff;}

#searchTags h1 a {
	color:#000000;
	padding-left:1.3em;
	background:url(/images/your_tags.gif) no-repeat 0px .2em;	
}
#searchTags input.textInput {
	width: 100%;
	height:30px;
	font-size:.9em;
	border:2px solid #EF4B3A;
	border-top:0px;
	padding-left:5px;
	float: none;
}

#searchTags form {
	padding:0px;
	display:block;
}
#searchTags .showAll {
	font-size:.8em;
}
.unstyled {
    list-style: none;
}
.hide, .hid {
    display: none;
}
ul.tags {
    list-style: none;
}
ul.tags li {
    margin-bottom: 4px;
}
ul.tags li.tagGroup, ul.tags li.wildCardTagGroup {
    cursor: pointer;
    overflow: hidden;
}

ul.tags li.tag {
	padding-left: 5px;
}

.treeItemGroupView ul.tags {
	max-height: 150px;
	overflow-y: auto;
}

.wildcardTagGroup span.ui-icon-triangle-1-e {
	background-position: -32px 0 !important;
}

.wildcardTagGroup span.ui-icon-triangle-1-s {
	background-position: -64px 0 !important;
}

#tagNav li.treeItemView .ui-icon-pin-w, #tagNav li.treeItemView .ui-icon-pin-s,
li.treeItemGroupView.active .ui-icon-close, li.tagGroup.active .ui-icon-pencil {
	float: right;
	display:block;
}

#tagNav li.treeItemView .ui-icon-pin-w, .leftNav li.treeItemView .ui-icon-pin-w  {
	display: none;
}

#tagNav li.treeItemView.highlight .ui-icon-pin-w {
	display: block;
}

li.wildcardTagGroup.active ul .ui-icon-close {
	display:none;
}

#tagGroupEditDialog input {
	border: 1px solid #bbb;
	padding: 8px;
	width: 100%;
}

.tagGroupDialog .ui-dialog-titlebar {
	height: auto !important;
}

ul.tags .ui-icon {
    float: left;
}

li.treeItemView.highlight {
	background-color: #bbbbbb;
}
ul.tags li.ui-draggable {
    cursor: pointer;
}
.draggable-helper {
	z-index: 99999;
}
ul.tags li.tagGroup ul.tags, .wildcardTagGroup ul {
	margin-left:10px;
}
ul#tagList {
	height: 603px;
	overflow-y: scroll;
}
.leftNav {
	height:600px;
	margin: 0;
	border:1px solid #cccccc;
	-moz-box-shadow: 3px 3px 3px #dddddd;
	-webkit-box-shadow: 3px 3px 3px #dddddd;
	box-shadow: 3px 3px 3px #dddddd;
}
#plotNav {
	height:60px;
}
.plotlines {
	height:auto;
}
.plotlines .ui-droppable {
	float: left;
	position: relative;
	cursor: pointer;
	margin-right: 4px;
	margin-bottom: 4px;
}
.plotlines .ui-droppable h3 {
	margin: 0;
	font-size: 100%;
}

/* JQUERY UI MODS */
.ui-accordion-header {
	overflow:hidden;
}

.ui-state-active .plotGroup {
	color: #444444;
}

.ui-accordion-content.ui-widget-content {
	border: 0;
}

.plotGroup {
	background-color: #f1f1f1;
}

.orange h3 {
	color: #ff6633;
}

.eggplant h3 {
	color: #990066;
}

.malibu h3 {
	color: #5BCDFC;
}

.bostonBlue h3 {
	color: #449BAF;
}

.chardonnay h3 {
	color: #fccb88;
}

.roseBud h3 {
	color: #f8aeac;
}

.vanilla h3 {
	color: #cdb9aa;
}

.burntSienna h3 {
	color: #e8835d;
}

.vistaBlue h3 {
	color: #9AD3AE;
}

.chenin h3 {
	color: #D5D879;
}

.ui-accordion-header {
	border:none;
	background: none;
	border-radius: 0;			
}


h3.ui-accordion-header.ui-state-active { background-color: #ffffff !important; }
.ui-accordion .ui-accordion-header { margin-top:0;}

.ui-accordion .ui-accordion-header a { display: block; font-size: 14px; padding: 2px 2px .5em 5px; }
.ui-accordion .ui-accordion-header.ui-state-active a { padding: 2px 2px .5em 2.2em; }
.ui-accordion .ui-accordion-content { padding: 5px 5px; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }

.ui-dialog { overflow:hidden; position: relative; padding: 3px; width: 150px; }
.ui-dialog .ui-dialog-titlebar { overflow:hidden; height: 10px; padding: 0 0 0 0; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: 0px 0 0px; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 5px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 10px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: 5px 5px; background: none; overflow: auto; font-size: 8pt; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .0 0 0 0; padding: 0 0 0 0; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: 0 0 0 0; cursor: pointer; padding: 0 0 0 0; line-height: 1em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

#tagListWrapper {
	-moz-box-shadow: 3px 3px 3px #dddddd;
	-webkit-box-shadow: 3px 3px 3px #dddddd;
	box-shadow: 3px 3px 3px #dddddd;
	border: 1px solid #ccc;
	border-top: 0;
}

/* FIRST PAGE */

body.track-page .date-controls h1 span.date {
	display:block;
	float:left;
	padding:0px 15px;
}
body.track-page .date-controls h1 a {
	display:block;
	float:left;
}
body.track-page .date-controls h1 .gear {
	background:url(/images/records_gear.gif);
	width:15px;
	height:15px;
	display:inline-block;
	float:right;
	margin:2px 12px 0px 0px;
}
body.track-page .date-controls #datePicker {
	background-color:#EF4B3A;
	color:#ffffff;
	text-transform:uppercase;
}
a.calendar {
	background:url(/images/calendar.gif) no-repeat;
	width:13px;
	height:14px;
	margin:7px 0px 0px 10px;
	display:inline-block;
}

/* GRAPH PAGE */

.plotlineinfo {
	width: 195px;
	font-size:.8em;
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	position: absolute;
	z-index:3;
	min-width: 155px;
}
.plotlineinfo h4, .plotlineinfo .form-group {
	margin-bottom: 7px;
	float: left;
	clear: left;
}
.plotlineinfo ul.tags {
	margin-top: 15px;
}
.plotlineinfo .ui-icon {
	display: none;
}
.plotlineinfo .form-group {
	clear: left;	
	width: 100%;
}
.plotlineinfo .graph-icon {
	float: right;
	width: 60px;
	margin-left: 10px;
}
.plotlineinfo input {
	float: left;
	margin-right: 5px;
}
.plotlineinfo label {
	float: left;
}
.plotlineinfo .widget {
	float: left;
	padding: 17px 0;
}
.calendarRange {
	background-color:#EBEBEB;
	padding-left:0px;
}
.calendarRange .slider, .calendarRange .picker {
	border:0px solid #999999;
	border-width:0px 10px;
	height:30px;
}
.calendarRange .slider {
	background:url(/images/slider_bg.gif) center center repeat-x;
}
.calendarRange hr {
	height:1px;
	border:0px;
	color:#ffffff;
	background-color:#ffffff;
}
div.plotGroup {
	padding: 5px;
}

div.plotGroup .delete {
	display: inline-block;
    width: 14px;
	height: 14px;
	line-height: 11px;
	color: #f1f1f1;
	border-radius: 50%;
	text-align:center;
	text-decoration:none;
	background: #d0d6d6;
	font-weight:bold;
	font-size: 15px;
}

div.plotGroup .edit {
	padding-right: 2px;
	visibility: hidden;
}
div.plotGroup:hover .edit {
	visibility: visible;
}
div.plotLine {
	padding:2px 5px;
	border-color: #ffffff;
	border-style: solid;
 	border-width: 1px;
 	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
 	border-radius: 5px 5px 5px 5px; 	
}

div.plotLine:hover {
	background-color:#EFEFEF;
}
span.plotLine {
	float:right;
	padding-left:10px;
        padding-top:4px;
	display:none;
}
div.plotLine:hover span {
	display:inline;
}

#preFooter {
	font-size:.8em;
	padding-top:2px;
}

#preFooter #cycleRange {
    width: 490px;
    padding-top:2px;
	padding-left:230px;
    float:left;
}

#preFooter .tagNav {
	text-align:right;
	border:0px;
	padding-left: 30px;
	padding-top:2px;
	-moz-box-shadow: 3px 3px 3px #ffffff;
	-webkit-box-shadow: 3px 3px 3px #ffffff;
	box-shadow: 3px 3px 3px #ffffff;
}
.fixed-column {
	width: 227px;
	float: right;
}
.floating-column {
	overflow: hidden;
}
body.tags-collapsed .floating-column {
	width: 100%;
}
body.tags-displayed .floating-column {
	width: calc(100% - 229px);
}
#preFooter .tagNav img {
	vertical-align:middle;
	margin-left:3px;
}
#ui-datepicker-div {
	display: none;
}
#entry0 {
	width: 100%;
	height: 500px;
}
#entry0 .ui-selecting {
	background: #99CCFF;
}
#entry0 .ui-selected {
	background: #3399FF;
	color: white;
}
.ui-menu-item a {
	white-space: pre-wrap;
}
#entry0 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#entry0 li {
	margin: 0px;
	padding: 1px;
	font-size: 12pt;
}
.swatch {
	padding-left:20px;	
	list-style-type:square;
}
.swatch li {
	margin:10px 0px;	
}
.swatch li span {
	color:#000000;
}

.sharePage .leftNav,.sharePage .main {
	border:0px;
	-moz-box-shadow: 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;	
}

.sharePage h1 {
	background-color:#EF4B3A;
	color:#ffffff;
	font-size:24px;	
	padding:10px;
}

.sharePage h1 .bittext {
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	display:block;
	padding:0px 0px 0px 0px;
}

.sharePage h1 div {
	width:225px;
	float:right;
}
.discussTitle {
	margin-bottom:5px;
}
#discussTitleSpan {
	font-size:15pt;
	width:500px;
}
.discusscomments {
	margin-top:5px;
}

.discusscomments .description {
	line-height:1.5em;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	margin:2em 0px;
	border-top:2px solid #EF4B3A;
	border-bottom:2px solid #EF4B3A;	
}
.discusscomments .description p {
	margin:1em 0px;
}

.discusscomments .button {
	text-align:right;
	margin:2em 0px;
	
	
}
.discusscomments .button a {
	display:inline-block;
	text-align:right;	
	padding:2px 0px;
	text-align:center;
	width:230px;
	background-color:#08BBF1;
	color:#ffffff;
	font-weight:normal;
	text-transform:uppercase;
	font-size:10px;
}

.commentList h1 {
	font-size:1em;
	background-color:transparent;
	color:#666666;
	text-transform:uppercase;
	padding:0px;
	margin:1em 0px;
}

.commentList .comment {
	line-height:1.6em;
	color:#666666;
	font-size:12px;
	font-weight:normal;
	margin:2em 0px;
	border-bottom:1px solid #EAEAEA;
}
.commentList .comment {
	padding-bottom: 20px;
}
.commentList .comment .message p {
	margin:0px 0px 1em 0px;
}
.commentList .comment .message {
	width:700px;
	right:280px;
	display:inline-block;
	vertical-align:top;
}
.commentList .comment .messageInfo {
	width:200px;
	display:inline-block;
	vertical-align:top;
}
.commentList .comment .messageControls {
	width:20px;
	display:inline-block;
	vertical-align:top;
}
* html .message {
  left: 600px;           /* RC width */
}
.description .comment {
	margin-top:20px;
	width:700px;
	display:inline-block;
	vertical-align:top;
}
.description .messageControls {
	margin-top:20px;
	vertical-align:top;
	display:inline-block;
	width:20px;
	float:right;
}
#addComment {
	text-transform:uppercase;
	font-size:12px;
	color:#666666;
}
#addComment input,#addComment textarea {
	background-color:#EFEFEF;	
	padding:2px;
}
#addComment input {
	width:350px;
	margin:2px 0px;	
}
#addComment textarea {
	width:100%;
	height:80px;
	margin:2px 0px 0px 0px;	
}
#addComment .submitButton {
	display:inline-block;
	float:right;
	text-align:center;
	background-color:#08BBF1;
	color:#ffffff;
	font-weight:normal;
	text-transform:uppercase;
	font-size:10px;
	width:70px;
	text-align:center;
	margin:0px;
	padding:2px 5px;
}
#addComment h1 {
	font-size:1.3em;
	background-color:transparent;
	color:#08BBF1;
	text-transform:uppercase;
	padding:0px;
	margin:.7em 0px;
}
#addComment p {
	margin:.5em 0px;
}
#addComment p.decorate {
	border-right:60px solid #08BBF1;
}
.entryTime {
	color: #999999;
}
.entryComment {
	color: #999999;
}
.entryRepeat {
	color: #C0C8C9;
}
.entryAmount {
	color: #5A6263;
}
.entryUnits {
	color: #5A6263;
}
.entryDelete {
	display:none;
	float:right;
	padding-top:5px;
	padding-bottom:0px;
	padding-left:8px;
	color:#999999;
}
.entryModify {
	cursor: pointer;
	width: 14px;
	height: 14px;
	padding-left: 1px;
	padding-top: 2px;
}
.custom-row {
	padding-right: 10px;
}
/**
 * Generic & common stuff, useful for every where. Starts here.
 */
.red-header {
	background-color: #EF4B3A;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	min-height: 34px;
	width: 100%;
}
.red-header .right {
	float: left;
	padding: 9px 10px;
	width: calc(100% - 227px);
	border-right: 2px solid #fff;
}
.tags-container {
	margin-left: 2px;
}
.red-header h1 {
	font-weight: normal;
	font-size: .8em;
	line-height: 20px;
}
.red-header #actions {
	position: relative;
	height: 15px;
	float: left;
	width: 20px;
}
.red-header #actions ul {
	background: #fff;
	display: block;
	width: 272px;
	padding: 10px;
	z-index: 999;
	border: 4px solid #d4d8d8;
	position: absolute;
	top: 30px;
	display: none;
}
.red-header #actions ul li {
	cursor: pointer;
}
.red-header #actions ul li:hover {
	background: #f1f1f1;
}
.red-header #actions ul li a {
	color: #879293;
	font-weight: bold;
}
.red-header #actions img {
	height: 15px;
}
.icon-triangle {
	border-style: solid;
	border-width: 7px;
	width: 0;
	height: 0;
	float: left;
}
.icon-triangle-down {
	border-color: #ffffff #EF4B3A #EF4B3A #EF4B3A;
	margin-top: 5px;
}
.icon-triangle-left {
	margin-top: 3px;
	border-color: #EF4B3A #ffffff #EF4B3A #EF4B3A;
}
.icon-triangle-right {
	border-color: #EF4B3A #EF4B3A #EF4B3A #ffffff;
	margin-top: 3px;
}
.icon-triangle-up {
	border-color: #EF4B3A #EF4B3A #ffffff #EF4B3A;
}
.close {
 	float: right;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	background: transparent;
	cursor: pointer;
}
.alert {
	font-size: 13px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #EF4B3A;
	border-radius: 4px;
	font-weight: bold;
}
.alert.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #CF1E0C;
}
.alert.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}
.alert.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}
.alert.alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #c09853;
}
.pointer {
	cursor: pointer;
}
.text-danger, a.text-danger, a.text-dager:link {
	color: #a94442;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.red-strip {
	background-color: #EF4B3A;
	width: 100%;
	height: 3px;
	margin-bottom: 20px;
}
.table {
	display: table;
}
.table-cell {
	display: table-cell;
}
.full-width {
	width: 100%
}
.align-middle {
	text-align: center;
	vertical-align: middle;
}

/**
 * Generic & common stuff, useful for every where. Ends here.
 */

/**
 * Styles for track page for web application.
 */
body.track-page #datepicker {
	width: 260px;
}
body.track-page #area0 .panel-wrapper {
	border-bottom: 0;
}
body.track-page ol#entry0 li.entry.ghost:not(.ui-selected) {
	color: #D9D9D9;
	background-color: #FFFFFF;
}
li.entry.continuousghost {
}
li.entry.anyghost {
}
li.entry.concreteghost {
}
li.entry.timedrepeat {
}
body.track-page ol#entry0 li.entry.ghost span {
	color: #D9D9D9;
}
body.track-page ol#entry0 li.entry.ghost:not(.remind) a.entryDelete {
	display: inline;
}
body.track-page ol#entry0 li.entry.continuous a.entryDelete {
	display: none !important;
}
body.track-page ol#entry0 li.entry.ui-selected a.entryDelete {
	display: block !important;
}

/**
 * Styles for track page for web application. Ends here.
 */
.tags-header-container {
	padding: 7px;
}

div.graph-header-container .red-header {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
 * Style for community & load page.
 */
#graphList #graphItem {
	clear:both;
}
#graphList .summary {
	padding-top:12px;
	padding-bottom:12px;
}
#graphList .summary .date {
	font-size: 80%;
	display: inline-block;
	width: 9em;
	color: #666666;
}
#graphList .summary h2 {
	width: 265px;
	background: url(/images/pointer_right.png) no-repeat center left;
	padding-left: 25px;
	font-weight: bold;
	font-size: 100%;
	display: inline-block;
	margin: 0;
}
#graphList .summary .userName {
	width: .6em;
	font-size: 80%;
	color: #666666;
	display: inline-block;
}
#graphList .summary .preview {
	width: 50px;
	font-size: 80%;
	padding-bottom: 5px;
	display: inline-block;
}
#graphList .summary .unpublishButton {
	width: 250px;
	margin-left: 2px;
	margin-right: 4px;
	padding-top: 4px;
	padding-right: 4px;
	background-color: #08BBF1;
	color: #FFFFFF;
	padding-left: 4px;
	padding-bottom: 4px;
	font-size: 16px;
}
#graphList .summary .publishButton {
	width: 250px;
	margin-left: 2px;
	margin-right: 4px;
	padding-top: 4px;
	padding-right: 4px;
	background-color: #08BBF1;
	color: #FFFFFF;
	padding-left: 4px;
	padding-bottom: 4px;
	font-size: 16px;
}
#graphList .summary .update {
	font-size: 80%;
	display: inline-block;
	width: 0px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	color: #ffffff ! important;
	text-transform: uppercase;
	background: url(/images/preview_btn.gif) no-repeat
}
#graphList .summary .close {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding-left: 5px;
	background: url(/images/x.gif) no-repeat center center;
}
#graphList .summary .visibility {
	color: #AAAAAA;
	width: 280px;
	display: inline-block;
	text-align: right;
}
#graphList .summary .close span {
	display: none
}
#graphList .content {
	padding-top: 25px;
	font-size: 80%;
	color: #666666;
}
#graphList .sidebar h2 {
	padding-top: 20px
}
#graphList .sidebar ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#graphList .sidebar li a {
	color: #666666 ! important
}
#graphList .notes {
	margin-left: 25px;
	float: left;
	width: 600px
}
#graphList .notes p {
	line-height: 1.5em;
	padding-top: 20px
}
.communityMessage {
	padding-bottom: 1em;
}
.discussHeader {
	padding-top: 12px;
	margin-left: 15px;
}

body.load-graph #graphList .summary h2 {
	width: 485px
}
body.load-graph #graphList .summary .preview {
	width: 60px;
}
body.load-graph #graphList .summary .update {
	width: 68px;
}
body.load-graph #graphList .summary .close {
	width: 21px;
}
